.main {
    margin: 20rem auto;
    width: 90%;
    width: 100%;
    height: 30rem;
    color: var(--default-font-color);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    user-select: none;
}

.main>img {
    width: 50rem;
}

.main .header {
    font-weight: 500;
    font-size: 9rem;
    text-align: center;
}

.main h3 {
    text-align: center;
    margin: 0;
}