.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form button {
    margin-top: 1.5rem;
}

.form-link {
    margin-left: auto;
    font-size: 1.3rem;
    color: #0008;
}

.form-ctrl {
    display: flex;
    gap: 1rem;
    width: max-content;
}

.form-ctrl>button {
    min-width: 12rem;
    width: max-content;
}

.custom-dropdown {
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    background: #fff;
}

.dropdown-header {
    padding: 8px;
    background-color: #f9f9f9;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-option {
    padding: 6px 10px;
}

.dropdown-search {
    padding: 6px 8px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 1.2rem;
}

.input {
    font-size: 1.4rem;
    font-family: inherit;
    width: 100%;
    padding: 0.9rem 1.4rem;
    border: 1px solid #0002;
    border-radius: 0.8rem;
}

.input:focus {
    border: 1px solid green;
    outline: none;
    box-shadow: 0 0 0.6rem #0001;
}

.input-invalid {
    border: 1px solid orangered !important;
}

.input::placeholder {
    font-size: 1.4rem;
    color: var(--secondary-font-color);
    text-transform: capitalize;
}

.label {
    font-weight: bold;
}

.validation-msg {
    color: orangered;
}

.file-container {
    padding: 1.4rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 1.5rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

.file-container>img {
    width: 3.7rem;
}

.file-container>div {
    flex-grow: 1;
    font-size: 1.3rem;
    font-weight: 500;
}


.file-container>i {
    color: #0005;
    font-weight: 550;
    cursor: pointer;
    font-size: 1.5rem;
}

.file-input {
    background-color: var(--color-main);
}

.form-radio-group {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.radio-option {
    padding: 10px 16px;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: white;
    color: #333;
    font-size: larger;
    font-weight: 500;
    user-select: none;
}

.radio-option:hover {
    border-color: #007bff;
    color: #007bff;
}

.radio-option.active {
    border-color: #007bff;
    background-color: #007bff;
    color: white;
}