.dashboard-container {
    padding: 2rem 3rem;
}

.container-header {
    color: var(--tertiary-font-color);
}

.container-header>h1 {
    font-weight: 500;
    font-size: var(--x-large-font-size);
    animation: load 0.5s cubic-bezier(.42, -0.93, .63, 1.95);
}

.container-header>h2 {
    font-size: var(--medium-font-size);
    color: #0008;
    font-weight: 600;
    animation: load 0.5s 0.2s backwards cubic-bezier(.42, -0.93, .63, 1.95);
}

@keyframes load {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}