@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light;
  color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*/////////////////////////
  ///// COLORS */
  --color-black: #000;
  --color-white: #fff;

  --color-main: #2e69ff;
  --color-main-light: #eeedfe;
  --color-main-dark: #1e4ed9;

  --color-primary: #fefefe;
  --color-secondary: #fafafc;
  --color-tertiary: #eff0f5;


  /*/////////////////////////
  ///// FONT COLORS */
  --default-font-color: #071437;
  --secondary-font-color: #252f4a;
  --tertiary-font-color: #4b5675;
  /*/////////////////////////
  ///// FONT SIZES */
  --default-font-size: 1.6rem;
  --small-font-size: 1rem;
  --medium-font-size: 2rem;
  --large-font-size: 2.2rem;
  --x-large-font-size: 3rem;
  --xx-large-font-size: 4rem;

  /*/////////////////////////
  ///// BOX SHADOWS */
  --box-shadow: 0 0px 8px rgba(0, 0, 0, 0.02);
  --box-shadow-dark: 0 0 15px rgba(0, 0, 0, 0.05)
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--default-font-color);
  background-color: var(--color-primary);
}

a {
  font-weight: 500;
  /* color: var(--color-main); */
  text-decoration: inherit;
}

a:hover {
  color: var(--color-main);
}