.table-action {
    padding: 1.5rem 2rem;
    font-size: var(--default-font-size);
    border-radius: 0 0 1rem 1rem;
    font-weight: 500;
    border: 1px solid var(--color-tertiary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    user-select: none;
}

.action-select {
    border-radius: 1rem;
    overflow: hidden;
    min-width: 6rem;
    border: 2px solid var(--color-tertiary);
    /* box-shadow: var(--box-shadow); */
    margin-right: auto;
}

.action-select>select {
    cursor: pointer;
    outline: none;
    width: 100%;
    padding: 0.5rem 0.8rem !important;
    font-size: 1.4rem;
}